
<% if !@name %>
  <h1>NAME THIS CAT</h1>
  <form action ='/named-cat' method="post">
    <input type=text name=name></input>
    <input type=submit value='NAME THE CAT'></input>
  </form>
<% end %>

<div style='border: dashed blue'>
  <img src ='http://www.catsaroundtheglobe.com/wp-content/uploads/CATG-one-ugly-cat-5.jpg'</img>
</div>

<% if @name%>
  <h2>"Hi, my name is <%=@name.downcase.capitalize%>!"</h2>
<% end %>
